#include "imx7s-warp.dts"

/ {
	spi2 {
		fsl,spi-num-chipselects = <1>;
		cs-gpios = <&gpio4 23 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_spi2>;
		status = "okay";		
		#address-cells = <1>;
		#size-cells = <0>;
		
		dpot: ad5231@0 {
			compatible = "adi,ad5231";
			reg = <0>;
			spi-max-frequency = <5000000>;
			spi-cs-high;
		};
	}
};

&iomuxc {
	pinctrl-names = "default";
	imx7s-warp {
		
		pinctrl_spi2: spi2grp {
			fsl,pins = <
				MX7D_PAD_ECSPI2_MISO__ECSPI2_MISO          0x00000014
				MX7D_PAD_ECSPI2_MOSI__ECSPI2_MOSI          0x00000014
				MX7D_PAD_ECSPI2_SCLK__ECSPI2_SCLK          0x00000014
				MX7D_PAD_ECSPI2_SS0__ECSPI2_SS0            0x00000014
			>;
		};
	};
};

